/*root variables*/

:root {
  --color-white: #ffffff;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;

  --color-home: rgb(5, 20, 27);
  --color-secondary: rgb(21, 189, 186);
  --light-color: rgb(1, 5, 12);
  --color-home-1: rgb(9, 33, 31);
  --color-orange: rgb(211, 98, 45);
  --color-secondary-2: rgb(16, 72, 100);
  --color-secondary-1: rgb(35, 27, 179);

  --card-padding: 1.6rem;
  --padding-1: 16px;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 10px;

  --box-shadow: 0.4rem 0.4rem 0 #717597;
  --box-shadow-2: 6px 6px 10px -1px rgba(224, 199, 199, 0.15);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow-x: hidden;
  /* width: 100%; */
  /* height: 100vh; */
  background-color: var(--color-home);
}
.chess {
  width: auto;
  padding: 10px;
  height: 70vh;
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow-2);
}
#chess-text {
  margin: 50px;
  width: 50%;
}
h1 {
  margin: 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  /* width: 100%;
  height: 100%; */
}

.divv {
  display: flex;
}

li {
  list-style: none;
  display: grid;
  place-items: center;
  font-size: 0px;
}

.box {
  margin: 0.5px;
  width: 75px;
  height: 75px;
}

#tog {
  margin: 10px 0px;
}

.allimg {
  width: 45px;
  position: relative;
  bottom: 5px;
}

.allpawn {
  transform: scale(0.7);
}

.authcont {
  width: 100vw;
}

.author {
  float: right;
  margin-right: 50px;
}

@media (max-width: 650px) {
  #tog {
    margin-bottom: 70px;
  }

  .box {
    width: 11vw;
    height: 11vw;
  }

  .allimg {
    width: 7vw;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding: 10px;
    overflow: hidden;
  }
  #chess-text {
    margin: 10px;
    width: 100%;
  }
}
