@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --color-home: rgb(4, 34, 49);
  --color-secondary: rgb(78, 15, 94);
  --light-color: rgb(149, 172, 214);
  /*--color-orange: rgb(211, 98, 45);*/
  --color-orange: rgb(211, 98, 45);
  --light-color: #666;

  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  height: 100vh;
  width: 100%;
  user-select: none;
}
body {
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/bit1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.top {
  position: relative;
  display: grid;
  grid-template-columns: 14rem auto 23rem;
  background: var(--color-home);
  width: 100%;
  height: 90px;
  gap: 1rem;
}

.top .logo img {
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 1rem;
}

.top .text h2 {
  color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  position: absolute;
  left: 10rem;
}
.support {
  position: absolute;
  height: 90px;
  width: auto;
  left: 90%;
}
.support button {
  position: absolute;
  top: 30%;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  font-weight: bold;
  background: var(--color-home);
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}
.support button:hover {
  background: var(--color-orange);
  color: var(--color-home);
  border: 2px solid var(--color-secondary);
}
.login main {
}
.main main {
  position: relative;
  height: 80rem;
  width: 100%;
}
.login main {
  position: relative;
  height: 80rem;
  width: 100%;
}

.main main .user {
  position: absolute;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
  width: 30%;
  top: 5rem;
  left: 35%;
  right: 35%;
  padding: 30px;
  height: 80%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.login main .content {
  position: absolute;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
  width: 30%;
  top: 5rem;
  left: 35%;
  right: 35%;
  padding: 30px;
  height: 60%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.main main .user input {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--color-home);
  border: 1px solid var(--color-orange);
  border-radius: 10px;
  width: 40rem;
  color: silver;
  height: 50px;
}
.login main .content input {
  position: relative;
  top: 60px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--color-home);
  border: 1px solid var(--color-orange);
  border-radius: 10px;
  width: 40rem;
  color: silver;
  height: 50px;
}

.user h3,
.content h3 {
  color: var(--color-orange);
  font-size: 20px;
  text-decoration: underline double var(--color-orange);
}

#submit,
#submt {
  color: var(--color-orange);
  width: 150px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
#submit:hover,
#submt:hover {
  background: var(--color-orange);
  color: var(--color-home);
  border: none;
}
span {
  color: var(--color-orange);
  cursor: pointer;
}
#logi,
#logit {
  position: absolute;
  color: silver;
  font-size: 15px;
  bottom: 10px;
  padding-top: 10px;
}

.bottom {
  color: silver;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 3rem;
}
/*==================*/
.login main .content {
  text-align: center;
}
.login main .content h4 {
  color: red;
  position: absolute;
  width: 40rem;
  text-align: center;
  height: 50px;
  top: 20%;
  border: 2px solid tomato;
  background: rgb(78, 45, 39);
  color: black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 10px;
}

.contents {
  color: #fbfcfd;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 2;
  line-height: 70px;
}

.contents small {
  font-size: 30px;
}

.contents h1 {
  font-size: 50px;
}

.contents p {
  color: var(--color-orange);
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  text-transform: none;
}

.contents button,
.contents button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--color-orange);
  background: var(--color-home);
  color: antiquewhite;
}

.contents button:hover,
.contents button:hover {
  color: var(--color-orange);
  border: 2px solid silver;
  transition: ease-in-out 0.2s;
}
#suppmessage {
  padding-top: 3rem;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  transition: all 3s;
  color: #fcfc;
}

.donations {
  position: absolute;
  width: 50%;
  left: 25%;
  right: 25%;
  bottom: 50%;
  height: 20rem;
  border: 2px solid green;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

#tendollar,
#fiftydollar,
#annydaollar {
  width: 250px;
  border-radius: 10px;
  border: 2px solid var(--color-orange);
  background: var(--color-home);
  color: var(--color-orange);
  cursor: pointer;
  font-weight: bolder;
}

#tendollar:hover,
#fiftydollar:hover,
#annydaollar:hover {
  background: var(--color-orange);
  color: var(--color-home);
  border: none;
  scale: 1.1;
  transition: all 2s;
}

#thanks {
  position: relative;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  transition: all 3s;
  justify-content: center;
}

.home .contents {
}

@media screen and (min-width: 1201px) {
  .support button {
    position: absolute;
    right: 0px;
    width: 120px;
    left: 80%;
  }

  .home .contents {
    line-height: 70px;
  }
  .home .contents small {
    font-size: 35px;
    color: #fcfc;
  }
  .home .contents h1 {
    font-size: 40px;
  }
  .home .contents p {
    font-size: 37px;
  }
  .main main .user {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 30%;
    top: 5rem;
    left: 35%;
    padding: 30px;
    height: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .main main .user input {
    width: 95%;
  }

  .login main .content {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 30%;
    top: 5rem;
    left: 35%;
    padding: 30px;
    height: 60%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .login main .content input {
    width: 95%;
  }
  .login main .content h4 {
    width: 95%;
    font-size: 150%;
  }
}

@media screen and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    margin: 0;
    width: 100%;
  }
  body {
    width: 100%;
  }

  .support button {
    position: absolute;
    right: 0px;
    width: 120px;
  }

  .home .contents {
    line-height: 70px;
  }
  .home .contents small {
    font-size: 25px;
    color: #fcfc;
  }
  .home .contents h1 {
    font-size: 30px;
  }
  .home .contents p {
    font-size: 27px;
  }

  .main main .user {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 40%;
    top: 5rem;
    left: 30%;
    padding: 30px;
    height: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .main main .user input {
    width: 95%;
  }

  .login main .content {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 40%;
    top: 5rem;
    left: 30%;
    padding: 30px;
    height: 60%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .login main .content input,
  .login main .content h4 {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    margin: 0;
    width: 100%;
  }
  body {
    width: 100%;
  }

  .support button {
    position: absolute;
    right: 0px;
    width: 120px;
  }

  .home .contents {
    left: 5rem;
  }
  .home .contents {
    line-height: 70px;
  }
  .home .contents small {
    font-size: 35px;
    color: #fcfc;
  }
  .home .contents h1 {
    font-size: 40px;
  }
  .home .contents p {
    font-size: 37px;
  }

  .main main .user {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 50%;
    top: 5rem;
    left: 25%;
    padding: 30px;
    height: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .main main .user input {
    width: 95%;
  }

  .login main .content {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 50%;
    top: 5rem;
    left: 25%;
    padding: 30px;
    height: 60%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .login main .content input,
  .login main .content h4 {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    margin: 0;
    width: 100%;
  }
  body {
    width: 100%;
  }
  .top {
    padding: 0;
  }
  .text h2 {
    font-size: 15px;
  }
  .support button {
    position: absolute;
    right: 0px;
    width: 120px;
  }

  .home .contents {
    line-height: 60px;
  }
  .home .contents small {
    font-size: 20px;
    color: #fcfc;
  }
  .home .contents h1 {
    font-size: 25px;
  }
  .home .contents p {
    font-size: 22px;
  }

  .main main .user {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 70%;
    top: 5rem;
    left: 15%;
    padding: 30px;
    height: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .main main .user input {
    width: 95%;
  }

  .login main .content {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 70%;
    top: 5rem;
    left: 15%;
    padding: 30px;
    height: 60%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .login main .content input,
  .login main .content h4 {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    margin: 0;
    width: 100%;
  }
  body {
    width: 100%;
  }
  .top {
    padding: 0;
  }
  .text h2 {
    font-size: 8px;
    padding: 0;
    left: 9rem;
    text-decoration: underline double;
    letter-spacing: 1px;
  }
  .support button {
    position: absolute;
    right: 0px;
    width: 120px;
    margin-right: 0;
  }

  .home .contents {
    line-height: 50px;
    left: 20px;
  }
  .home .contents small {
    font-size: 15px;
    color: #fcfc;
  }
  .home .contents h1 {
    font-size: 20px;
  }
  .home .contents p {
    font-size: 17px;
  }

  .main main .user {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 90%;
    top: 5rem;
    left: 5%;
    bottom: 2rem;
    padding: 30px;
    height: 70%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .main main .user input {
    width: 95%;
  }

  .login main .content {
    position: absolute;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    width: 90%;
    top: 5rem;
    left: 5%;
    padding: 30px;
    height: 60%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .login main .content input {
    width: 95%;
  }
}
