:root {
  --color-white: #ffffff;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;

  --color-home: rgb(5, 20, 27);
  --color-secondary: rgb(21, 189, 186);
  --light-color: rgb(1, 5, 12);
  --color-home-1: rgb(9, 33, 31);
  --color-orange: rgb(211, 98, 45);
  --color-secondary-2: rgb(16, 72, 100);
  --color-secondary-1: rgb(35, 27, 179);

  --card-padding: 1.6rem;
  --padding-1: 16px;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 10px;

  --box-shadow: 0.4rem 0.4rem 0 #717597;
  --box-shadow-2: 6px 6px 10px -1px rgba(224, 199, 199, 0.15);
}

* {
  background-color: var(--light-color);
}

h2 {
  margin: 0.25rem;
  color: var(--color-orange);
}
p {
  color: var(--color-secondary);
}

.tossing-body {
  height: 100vh;
  width: 100%;
  background-color: var(--color-home);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--card-padding);
  width: 50%;
  border-radius: 5px;
  box-shadow: var(--box-shadow-2);
}
div .container form {
  display: grid;
  gap: 20px;
  width: auto;
  grid-template-columns: repeat(1, 100%);
}
div .container .select {
  text-align: center;
  width: 100%;
  margin: 0;
}
div .container .select select {
  padding: 5px 40px;

  width: 100%;
  border: 1px solid var(--color-gray-light);
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-home);
  color: var(--color-white);
}
button {
  padding: 1rem;
  width: auto;
  background-color: var(--color-secondary);
  border-radius: 10px;
  cursor: pointer;
  color: var(--light-color);
  font-weight: bolder;
}
button:hover {
  background-color: var(--color-secondary-2);
  color: var(--color-orange);
  transition: 300ms linear;
}
#coin {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 2rem 0rem;
  transform-style: preserve-3d;
}

#coin div {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  backface-visibility: hidden;
  background-size: contain;
  position: absolute;
}

.heads {
  background-image: url("https://en.numista.com/catalogue/photos/inde/2311-original.jpg");
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.tails {
  background-image: url("https://en.numista.com/catalogue/photos/inde/3165-original.jpg");
  transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}

@media screen and (max-width: 1520px) {
  .tossing-body {
    display: flex;
    align-items: start;
  }

  div .container {
    width: 90%;
    margin-top: 20px;
    height: 100%;
  }
}
